/* src/styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid white;
  padding: 0.4em 0.7em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  color: #242424;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
button:hover {
  /* border-color: #646cff; */
  opacity: 0.8;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


/* Animation for Modal */
@keyframes fadeUp {
  from {
    opacity: 0;
    scale: 0.9;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

/* Animation for Modal Overlay */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation for Modal Closing Overlay */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Animation for Modal Closing */
@keyframes fadeDown {
  from {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    scale: 0.9;
    transform: translateY(10px);
  }
}

/* Animation for login glow */
@keyframes glow {
  from {
    scale: 0.9;
  }
  to {
    scale: 1.2;
  }
}

/* Animation for slide */
@keyframes slideGoingOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(10%);
    opacity: 0;
  }
}

@keyframes slideIncoming {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Error animation of giggle */
@keyframes giggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

/* animation fade show translate down */
@keyframes fadeShowTranslateDown {
  from {
    opacity: 0;
    scale: 0.9;
    transform: translate(10px, -10px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translate(0, 0);
  }
}

/* animation fade hide translate up */
@keyframes fadeHideTranslateUp {
  from {
    opacity: 1;
    scale: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    scale: 0.9;
    transform: translate(10px, -10px);
  }
}